/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
/* MIXIN : FLEXBOX
   *    EX : @include flexbox;
   *    EX : @include flex-direction( value );
   * ------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word; }

body {
  width: 100%;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

a {
  outline: none;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
  text-decoration: none; }

p {
  font-weight: 400;
  font-family: "Public Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 2px;
  font-size: 18px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

span {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
  display: block; }

hr {
  clear: both;
  content: "";
  margin: 15px 0px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.v_hide {
  visibility: hidden; }

.hide {
  display: none !important; }

@media (max-width: 1024px) {
  .sm-hide {
    display: none !important; } }

@media (min-width: 1025px) {
  .sm-show {
    display: none !important; } }

@media (max-width: 767px) {
  .xs-hide {
    display: none !important; } }

@media (min-width: 768px) {
  .xs-show {
    display: none !important; } }

@media (max-width: 767px) {
  .xs-center {
    text-align: center; } }

@media (max-width: 767px) {
  .xs-left {
    text-align: left; } }

@media (max-width: 767px) {
  .xs-right {
    text-align: right; } }

@media (max-width: 1024px) {
  .sm-center {
    text-align: center; } }

@media (max-width: 1024px) {
  .sm-left {
    text-align: left; } }

@media (max-width: 1024px) {
  .sm-right {
    text-align: right; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1150px; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  .col-xs-1.static, .col-sm-1.static, .col-md-1.static, .col-lg-1.static, .col-xs-2.static, .col-sm-2.static, .col-md-2.static, .col-lg-2.static, .col-xs-3.static, .col-sm-3.static, .col-md-3.static, .col-lg-3.static, .col-xs-4.static, .col-sm-4.static, .col-md-4.static, .col-lg-4.static, .col-xs-5.static, .col-sm-5.static, .col-md-5.static, .col-lg-5.static, .col-xs-6.static, .col-sm-6.static, .col-md-6.static, .col-lg-6.static, .col-xs-7.static, .col-sm-7.static, .col-md-7.static, .col-lg-7.static, .col-xs-8.static, .col-sm-8.static, .col-md-8.static, .col-lg-8.static, .col-xs-9.static, .col-sm-9.static, .col-md-9.static, .col-lg-9.static, .col-xs-10.static, .col-sm-10.static, .col-md-10.static, .col-lg-10.static, .col-xs-11.static, .col-sm-11.static, .col-md-11.static, .col-lg-11.static, .col-xs-12.static, .col-sm-12.static, .col-md-12.static, .col-lg-12.static {
    position: static; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1025px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.flex_view > div[class^="col"] {
  padding-left: 0;
  padding-right: 0; }

@media (min-width: 768px) {
  .flex_view {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .flex_view.left {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .flex_view.right {
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .flex_view.center {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .flex_view.space-between {
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .flex_view.space-around {
      -webkit-justify-content: space-around;
      -ms-flex-pack: justify;
      justify-content: space-around; }
    .flex_view.middle {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .flex_view.end {
      -webkit-align-items: end;
      -ms-flex-align: end;
      align-items: end; }
    .flex_view.start {
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .flex_view.reverse {
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .flex_view.space {
      margin: 0 -15px; }
      .flex_view.space > div[class^="col"] {
        padding-left: 15px;
        padding-right: 15px; } }

.flex_view_xs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex_view_xs.left {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .flex_view_xs.right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .flex_view_xs.center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .flex_view_xs.space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex_view_xs.space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around; }
  .flex_view_xs.middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex_view_xs.end {
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end; }
  .flex_view_xs.start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .flex_view_xs.reverse {
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .flex_view_xs.space {
    margin: 0 -15px; }
    .flex_view_xs.space > div[class^="col"] {
      padding-left: 15px;
      padding-right: 15px; }
  .flex_view_xs > div[class^="col"] {
    padding-left: 0;
    padding-right: 0; }

#homepage {
  overflow: hidden; }
  #homepage .desk_header {
    padding: 32px 0 24px;
    position: absolute;
    z-index: 10;
    background: #ffffff;
    width: 100%;
    top: 0; }
    #homepage .desk_header .inner .navigation {
      margin-right: 17px; }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        #homepage .desk_header .inner .navigation {
          margin-right: 0; } }
      #homepage .desk_header .inner .navigation .nav_ul .nav_li {
        display: inline-block;
        margin-left: 23px; }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          #homepage .desk_header .inner .navigation .nav_ul .nav_li {
            margin-left: 12px; } }
        #homepage .desk_header .inner .navigation .nav_ul .nav_li a {
          color: #9698a6;
          font-size: 15px;
          position: relative; }
          #homepage .desk_header .inner .navigation .nav_ul .nav_li a:after {
            content: '';
            position: absolute;
            bottom: -26px;
            left: 0;
            height: 4px;
            width: 100%;
            background-image: linear-gradient(to right, #31d35c, #2bb7da);
            -moz-transition: all 400ms linear;
            -o-transition: all 400ms linear;
            -ms-transition: all 400ms linear;
            -webkit-transition: all 400ms linear;
            transition: all 400ms linear;
            display: none; }
          #homepage .desk_header .inner .navigation .nav_ul .nav_li a:hover:after {
            display: block; }
    #homepage .desk_header .inner .btn_invite {
      position: relative; }
      #homepage .desk_header .inner .btn_invite .rqst_btn {
        background-image: linear-gradient(to right, #31d35c, #2bb7da);
        display: inline-block;
        padding: 14px 34px;
        border-radius: 30px;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        position: absolute;
        top: -24px;
        right: 0; }
        #homepage .desk_header .inner .btn_invite .rqst_btn:hover {
          opacity: 0.6; }
        #homepage .desk_header .inner .btn_invite .rqst_btn:hover {
          opacity: 0.6; }
  #homepage .xs_header {
    padding: 22px 0 18px;
    position: absolute;
    z-index: 10;
    background: #ffffff;
    width: 100%;
    top: 0;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; }
    #homepage .xs_header .inner {
      position: relative; }
      #homepage .xs_header .inner .logo_wrapper {
        padding-left: 4px; }
        #homepage .xs_header .inner .logo_wrapper a {
          display: inline-block; }
          #homepage .xs_header .inner .logo_wrapper a img {
            width: auto; }
      #homepage .xs_header .inner .menu_toggle_icon {
        padding-right: 4px; }
        #homepage .xs_header .inner .menu_toggle_icon .toggle_icon {
          display: inline-block; }
        #homepage .xs_header .inner .menu_toggle_icon svg {
          display: inline-block; }
    #homepage .xs_header .xs_nav {
      padding: 30px 0 35px;
      z-index: 10;
      position: absolute;
      width: 87%;
      background: #ffffff;
      left: 50%;
      top: 88px;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border-radius: 4px;
      padding-top: 20px;
      padding-bottom: 24px;
      opacity: 0;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear; }
      #homepage .xs_header .xs_nav .nav_ul_xs .nav_li_xs a {
        padding: 12px 0;
        display: block;
        font-size: 17px;
        color: #2d314d; }
    #homepage .xs_header.show_nav {
      box-shadow: 0 0 350px 280px #2d314d; }
      #homepage .xs_header.show_nav .xs_nav {
        opacity: 1; }
      #homepage .xs_header.show_nav .menu_toggle_icon .toggle_icon {
        animation-name: rotateClose;
        animation-duration: 0.3s;
        animation-timing-function: linear; }

@keyframes rotateClose {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  #homepage .hero_section {
    position: relative;
    margin-top: 80px;
    background-color: #fafafa; }
    @media screen and (max-width: 767px) {
      #homepage .hero_section {
        margin-top: 64px; } }
    #homepage .hero_section .inner {
      background: url(./images/bg-intro-desktop.svg) no-repeat;
      background-position: 625px -254px;
      background-size: 87%;
      padding: 170px 0; }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        #homepage .hero_section .inner {
          padding: 90px 0; } }
      #homepage .hero_section .inner .hero_txt {
        display: inline-block;
        max-width: 38%;
        position: relative; }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          #homepage .hero_section .inner .hero_txt {
            max-width: 45%; } }
        #homepage .hero_section .inner .hero_txt .heading {
          display: inline-block;
          font-size: 54px;
          line-height: 64px;
          font-weight: 400; }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            #homepage .hero_section .inner .hero_txt .heading {
              font-size: 38px;
              line-height: 55px; } }
        #homepage .hero_section .inner .hero_txt .txt {
          margin-top: 23px;
          color: #9698a6;
          font-size: 17px;
          line-height: 29px; }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            #homepage .hero_section .inner .hero_txt .txt {
              margin-top: 15px;
              line-height: 27px; } }
        #homepage .hero_section .inner .hero_txt .rqst_btn {
          background-image: linear-gradient(to right, #31d35c, #2bb7da);
          display: inline-block;
          padding: 14px 34px;
          border-radius: 30px;
          color: #ffffff;
          font-weight: 700;
          font-size: 14px;
          margin-top: 32px; }
          #homepage .hero_section .inner .hero_txt .rqst_btn:hover {
            opacity: 0.6; }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            #homepage .hero_section .inner .hero_txt .rqst_btn {
              margin-top: 22px; } }
    #homepage .hero_section .mock_image {
      position: absolute;
      right: -130px;
      top: -122px;
      z-index: 2;
      overflow-y: visible;
      overflow-x: hidden; }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        #homepage .hero_section .mock_image {
          width: 60%; } }
      #homepage .hero_section .mock_image img {
        width: auto; }
    #homepage .hero_section .xs_bg {
      background: url(./images/bg-intro-mobile.svg) no-repeat;
      background-size: cover;
      background-position: 100% 45%;
      position: relative;
      height: 282px; }
      #homepage .hero_section .xs_bg .mock_image_xs {
        width: 92%;
        position: absolute;
        top: -123px;
        left: 50%;
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
    #homepage .hero_section .hero_txt_xs {
      padding: 42px 0 88px; }
      #homepage .hero_section .hero_txt_xs .title {
        font-size: 38px;
        font-weight: 400; }
        @media (max-width: 320px) {
          #homepage .hero_section .hero_txt_xs .title {
            font-size: 35px; } }
      #homepage .hero_section .hero_txt_xs .txt_xs {
        margin-top: 20px;
        color: #9698a6;
        font-size: 14px;
        line-height: 24px; }
      #homepage .hero_section .hero_txt_xs .rqst_btn_xs {
        background-image: linear-gradient(to right, #31d35c, #2bb7da);
        display: inline-block;
        padding: 14px 34px;
        border-radius: 30px;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        margin-top: 30px; }
        #homepage .hero_section .hero_txt_xs .rqst_btn_xs:hover {
          opacity: 0.6; }
  #homepage .why_choose {
    background-color: #f3f4f6; }
    #homepage .why_choose .section_title {
      font-size: 38px;
      margin-top: 105px; }
      @media screen and (max-width: 767px) {
        #homepage .why_choose .section_title {
          margin-top: 66px;
          font-size: 31px; } }
    #homepage .why_choose .section_descr {
      display: inline-block;
      margin-top: 26px;
      font-size: 17px;
      line-height: 29px;
      width: 58%;
      letter-spacing: 0.2px;
      color: #9698a6; }
      @media screen and (max-width: 767px) {
        #homepage .why_choose .section_descr {
          display: block;
          color: #9698a6;
          font-size: 14px;
          line-height: 24px;
          width: 100%;
          margin-top: 19px; } }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        #homepage .why_choose .section_descr {
          width: 80%;
          margin: 26px auto;
          display: block; } }
    #homepage .why_choose .features_div {
      margin-top: 70px;
      margin-bottom: 100px; }
      @media screen and (max-width: 767px) {
        #homepage .why_choose .features_div {
          margin-top: 58px;
          margin-bottom: 38px; } }
      @media screen and (max-width: 767px) {
        #homepage .why_choose .features_div .features_grid {
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
          -moz-box-direction: normal;
          -moz-box-orient: vertical;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; } }
      #homepage .why_choose .features_div .features_grid .features_item {
        width: 25%; }
        @media screen and (max-width: 767px) {
          #homepage .why_choose .features_div .features_grid .features_item {
            width: 100%;
            margin-bottom: 30px; } }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          #homepage .why_choose .features_div .features_grid .features_item {
            width: 50%; } }
        #homepage .why_choose .features_div .features_grid .features_item .img {
          display: inline-block; }
          #homepage .why_choose .features_div .features_grid .features_item .img svg {
            display: block; }
        #homepage .why_choose .features_div .features_grid .features_item .img_xs img {
          width: auto;
          margin: 0 auto; }
        #homepage .why_choose .features_div .features_grid .features_item .feature_name {
          margin-top: 34px;
          font-size: 23px;
          font-weight: 400; }
          @media screen and (max-width: 767px) {
            #homepage .why_choose .features_div .features_grid .features_item .feature_name {
              margin-top: 25px;
              font-size: 19px; } }
        #homepage .why_choose .features_div .features_grid .features_item .feature_descr {
          margin-top: 26px;
          font-size: 17px;
          line-height: 26px;
          color: #9698a6;
          padding-right: 10px;
          letter-spacing: -0.3px; }
          @media screen and (max-width: 767px) {
            #homepage .why_choose .features_div .features_grid .features_item .feature_descr {
              font-size: 15px;
              line-height: 24px;
              padding-right: 0;
              margin-top: 22px; } }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            #homepage .why_choose .features_div .features_grid .features_item .feature_descr {
              padding: 0 15px; } }
  #homepage .articles_section {
    background-color: #fafafa; }
    #homepage .articles_section .section_title {
      font-size: 38px;
      margin-top: 90px; }
      @media screen and (max-width: 767px) {
        #homepage .articles_section .section_title {
          margin-top: 90px;
          font-size: 31px; } }
    #homepage .articles_section .articles_div {
      margin-top: 50px;
      margin-bottom: 80px; }
      @media screen and (max-width: 767px) {
        #homepage .articles_section .articles_div {
          margin-top: 32px;
          margin-bottom: 64px; } }
      #homepage .articles_section .articles_div .articles .article_card {
        width: 255px;
        margin: 0 15px; }
        @media screen and (max-width: 767px) {
          #homepage .articles_section .articles_div .articles .article_card {
            width: 100%;
            margin: 0 4px 40px; } }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          #homepage .articles_section .articles_div .articles .article_card {
            width: 50%;
            margin: 0;
            padding: 0 15px 40px; } }
        #homepage .articles_section .articles_div .articles .article_card .article_img img {
          height: 200px;
          object-fit: cover;
          width: 100%;
          border-radius: 4px; }
        @media screen and (min-width: 1025px) {
          #homepage .articles_section .articles_div .articles .article_card:first-child {
            margin-left: 0; } }
        @media screen and (min-width: 1025px) {
          #homepage .articles_section .articles_div .articles .article_card:last-child {
            margin-right: 0; } }
        #homepage .articles_section .articles_div .articles .article_card .article_body {
          padding: 30px 24px 24px;
          background-color: #ffffff;
          border-radius: 4px; }
          @media screen and (max-width: 767px) {
            #homepage .articles_section .articles_div .articles .article_card .article_body {
              padding: 30px 32px 24px; } }
          #homepage .articles_section .articles_div .articles .article_card .article_body .author {
            font-size: 10px;
            color: #9698a6; }
          #homepage .articles_section .articles_div .articles .article_card .article_body .article_title {
            font-size: 16px;
            margin-top: 12px;
            letter-spacing: -0.4px; }
          #homepage .articles_section .articles_div .articles .article_card .article_body .article_txt {
            font-size: 13px;
            color: #9698a6;
            margin-top: 11px;
            line-height: 17px;
            letter-spacing: -0.2px; }
            @media screen and (max-width: 767px) {
              #homepage .articles_section .articles_div .articles .article_card .article_body .article_txt {
                letter-spacing: -0.3px; } }
  #homepage .site_footer {
    background-color: #2d314d;
    padding: 47px 0 44px; }
    @media screen and (max-width: 767px) {
      #homepage .site_footer {
        padding: 40px 0 44px; } }
    #homepage .site_footer svg {
      display: inline-block; }
    #homepage .site_footer .social_links {
      margin-top: 55px; }
      @media screen and (max-width: 767px) {
        #homepage .site_footer .social_links {
          margin-top: 30px; } }
      #homepage .site_footer .social_links .social_link {
        display: inline-block;
        margin-right: 9px; }
        @media screen and (max-width: 767px) {
          #homepage .site_footer .social_links .social_link {
            margin: 0 8px; } }
        #homepage .site_footer .social_links .social_link a {
          display: inline-block; }
        #homepage .site_footer .social_links .social_link svg:hover path {
          fill: #31d35c;
          -moz-transition: all 200ms linear;
          -o-transition: all 200ms linear;
          -ms-transition: all 200ms linear;
          -webkit-transition: all 200ms linear;
          transition: all 200ms linear; }
    #homepage .site_footer .nav_link_row ul li {
      margin-bottom: 14px; }
      @media screen and (max-width: 767px) {
        #homepage .site_footer .nav_link_row ul li {
          margin-bottom: 13px; } }
      #homepage .site_footer .nav_link_row ul li a {
        color: #fafafa;
        font-size: 15px;
        letter-spacing: -0.2px; }
    @media screen and (max-width: 767px) {
      #homepage .site_footer .nav_link_row.first_row {
        margin-top: 32px; } }
    @media screen and (min-width: 1025px) {
      #homepage .site_footer .nav_link_row.second_row {
        margin-left: 46px; } }
    @media screen and (max-width: 767px) {
      #homepage .site_footer .btn_wrap {
        margin-top: 22px; } }
    #homepage .site_footer .btn_wrap .rqst_btn {
      background-image: linear-gradient(to right, #31d35c, #2bb7da);
      display: inline-block;
      padding: 14px 34px;
      border-radius: 30px;
      color: #ffffff;
      font-weight: 700;
      font-size: 14px; }
      #homepage .site_footer .btn_wrap .rqst_btn:hover {
        opacity: 0.6; }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        #homepage .site_footer .btn_wrap .rqst_btn {
          font-size: 13px;
          padding: 14px 25px; } }
    #homepage .site_footer .btn_wrap .copyright_txt {
      font-size: 14px;
      color: #9698a6;
      margin-top: 30px;
      letter-spacing: 0.2px; }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        #homepage .site_footer .btn_wrap .copyright_txt {
          font-size: 10px; } }

#error_page {
  text-align: center; }
  #error_page .title {
    font-weight: 600;
    font-size: 30px;
    margin-top: 22px;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      #error_page .title {
        font-size: 20px; } }
  #error_page .error_img {
    position: relative; }
    #error_page .error_img .take_back_btn {
      position: absolute;
      bottom: 34px;
      background-color: #ff595d;
      color: #fff;
      font-size: 20px;
      padding: 40px;
      font-weight: 600;
      padding: 30px 100px;
      left: 50%;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
      @media (max-width: 767px) {
        #error_page .error_img .take_back_btn {
          bottom: unset;
          top: 100%;
          font-size: 15px;
          padding: 20px 30px;
          width: 50%; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        #error_page .error_img .take_back_btn {
          top: 80%;
          bottom: unset; } }
